<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd 
	                    http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

<!-- 
    <bean class="com.pfl.samples.spring.annotation.Address" p:address="Home Address" />
 -->
 
    <bean id="homeAddress" class="com.pfl.samples.spring.annotation.Address" p:address="Home Address" />
    <bean id="officeAddress" class="com.pfl.samples.spring.annotation.Address" p:address="Office Address" />

    <bean id="addr1" class="com.pfl.samples.spring.annotation.Address" p:address="Addr1 Address" />
    <bean id="addr2" class="com.pfl.samples.spring.annotation.Address" p:address="Addr2 Address" />

    <bean class="com.pfl.samples.spring.annotation.Person" p:name="John" />
	
</beans>
