<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- this will work only if debug is enabled.
	<bean name="address1" class="com.pfl.samples.spring.cpns.Address"
		  c:houseNo="123" c:street="XXX" c:city="Blr" c:zipCode="560001"/>
	<bean name="person1" class="com.pfl.samples.spring.cpns.Person"
		  c:firstName="John" c:lastName="Joe" c:age="30" c:address-ref="address1"/>
	-->
	
	<bean name="address1" class="com.pfl.samples.spring.cpns.Address"
		  c:_0="123" c:_1="XXX" c:_2="Blr" c:_3="560001"/>
	<bean name="person1" class="com.pfl.samples.spring.cpns.Person"
		  c:_0="John" c:_1="Joe" c:_2="30" c:_3-ref="address1"/>
	
	<bean name="address2" class="com.pfl.samples.spring.cpns.Address"
		  p:houseNo="321" p:street="XXX" p:city="Blr" p:zipCode="560001"/>
	<bean name="person2" class="com.pfl.samples.spring.cpns.Person"
		  p:firstName="Joe" p:lastName="John" p:age="30" p:address-ref="address2"/>
	
    <bean name="person3" class="com.pfl.samples.spring.cpns.Person"
          c:_0="Mary" c:_1="Joe" c:_2="30" p:address-ref="address2" p:emergencyAddrRef-ref="address1"/>
	
	
</beans>
