<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="address" class="com.pfl.samples.spring.autowire.constructor.Address"
		  p:houseNo="123" p:street="XXX" p:city="Blr" p:zipCode="560001"/>
		  
	<bean name="person1" class="com.pfl.samples.spring.autowire.constructor.Person"
		  p:age="30" autowire="constructor"/>
	
	<bean name="person2" class="com.pfl.samples.spring.autowire.constructor.Person"
		  c:firstName="Joe" c:lastName="John" c:age="30" autowire="constructor"/>

</beans>
